* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.container {
  width: 60%;
}

.imgDiv {
  width: 42rem;
}

.imgDivMob {
  display: none;
  margin: 6rem 0rem 5rem 0rem;
}

.image {
  height: 37rem;
  width: 42rem;
}

.infoDiv {
  width: 32rem;
}

.head {
  font-size: 6.4rem;
  font-weight: 100;
  margin-bottom: 2rem;

}

.description {
  font-weight: lighter;
  font-size: 2.8rem;
}

.link {
  font-weight: bold;
  font-size: 1.9rem;
  margin-top: 3rem;
  margin-right: 2rem;
}

.icon {
  height: 2rem;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 40%;
  }

  .infoDiv {
    width: 100%;
  }

  .image {
    width: 100%;
    height: 48rem;
  }

  .imgDivMob {
    display: block;
    width: 100%;
  }

  .imgDiv {
    display: none;
  }

  .link {
    color: #3C83FB;
  }
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 45%;
  }
}